.flex-parent-element {
    display: flex;
  }
  .flex-child-element1 {
    flex:0.2;
  }
  .flex-child-element2 {
    flex:0.35;
    margin-top: -10px;
  }
  .flex-child-element:first-child {
    margin-right: 2rem;
  }
  .save{
    position:absolute;
    right:2rem;
    bottom:2rem;
  }